footer.footer.page__footer
    ._container.container 
        ._inner
            p 
                a(href="https://spb.hh.ru/resume/84153b7bff054ca9530039ed1f34505367694b")
                    | Кирилл Кузнецов
                br 
                | 2024