.popup.-success
    ._inner 
        h3._title 
            | Запрос успешно отправлен

        ._text 
            p
                | Ожидайте звонка менеджера в ближайшее время

        img._close(src="img/icons/cross.svg" alt="Закрыть окно")
