section.section.-main-hero 
    ._container.container 
        ._inner 
            h1._title.-pagetitle
                | Продажа строительных материалов в Санкт-Петербурге

            ._text
                p
                    | You have successfully installed MODX Revolution&nbsp;2.8.3-pl!

                p
                    | Now that MODX is installed you can login to the manager to create your 
                    | templates, manage content and install third party extras to add 
                    | functionality to your&nbsp;website.

                h2
                    | New to&nbsp;MODX?

                p
                    | Pages on a MODX site are called 
                    a(href="https://docs.modx.com/current/en/building-sites/resources")
                        | Resources
                    | , and are visible on the left-hand side of the manager in the Resources tab. 
                    | Resources can be nested under other resources, making it easy to create a tree 
                    | of resources. There are different types of resources for different use&nbsp;cases.

                p
                    | Building your website is done through a combination of 
                    b
                        | Templates
                    | , 
                    b
                        | Template Variables
                    | , 
                    b
                        | Chunks
                    | , 
                    b
                        | Snippets
                    | and 
                    b
                        | Plugins
                    | . Collectively these are known as 
                    b
                        | Elements
                    | , and can also be found in the left-hand side of the manager, in the Elements&nbsp;tab.
                    

                h3
                    | MODX?

                p
                    a(href="https://docs.modx.com/current/en/building-sites/elements/templates")
                        | Templates 
                    |  contain the outer markup of any page. Each resource can only be assigned to a single 
                    | template at a time. By adding 
                    a(href="https://docs.modx.com/current/en/building-sites/elements/template-variables")
                        | Template Variables 
                    | to a template, you can add custom fields for any resource using that particular&nbsp;template.

                p
                    | With 
                    a(href="https://docs.modx.com/current/en/building-sites/elements/chunks")
                        | Chunks 
                    | you can share parts of the markup, such as a header, across different templates. 
                    a(href="https://docs.modx.com/current/en/building-sites/elements/snippets")
                        | Plugins 
                    | enable more advanced features by hooking into the extensive events system provided by&nbsp;MODX.

                p
                    | To learn more about MODX, be sure to check out the 
                a(href="https://docs.modx.com/current/en/getting-started")
                    | Getting Started 
                | section in the official&nbsp;documentation.
