@at-root{
    $component: ".post__text";

    #{$component}{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.2em;

        @include bp("sm", "up"){
        }
        @include bp("lg", "up"){
        }
    }
}
