section.section.-posts 
    ._container.container 
        ._inner 
            h1._title.-pagetitle 
                | Новости

            .posts._posts 
                .post._item
                    picture._banner
                        img._image(src="img/post_1.jpg" width="" height="" alt="Плита Paroc ROB 80t 20х1200х1800" title="Плита Paroc ROB 80t 20х1200х1800" loading="lazy")

                    ._content
                        h2._title 
                            | Плита Paroc ROB 80t 20х1200х1800

                        ._text 
                            p
                                | Плита PAROC ROB 80t - это негорючая каменная вата, которая используется в 
                                | качестве верхнего изоляционного слоя для плоских кровель в процессе 
                                | реконструкции старых и строительства новых зданий. Кровельная…

                        time._date(datetime="15.10.2024")
                            | 15.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            
                .post._item
                    picture._banner
                        img._image(src="img/post_2.jpg" width="" height="" alt="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" title="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" loading="lazy")

                    ._content
                        h2._title 
                            | Мембрана Sintofoil ST 1.5 мм серая 2100x25000

                        ._text 
                            p
                                | Кровельная полимерная мембрана на основе высококачественного термопластичного 
                                | полиолефина (ТПО). Поставляется в рулонах 2,10 х 25 м. Стандартный цвет 
                                | лицевой поверхности: светло-серый. Толщина – 1,5…

                        time._date(datetime="15.10.2024")
                            | 17.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            
                .post._item
                    picture._banner
                        img._image(src="img/post_1.jpg" width="" height="" alt="Плита Paroc ROB 80t 20х1200х1800" title="Плита Paroc ROB 80t 20х1200х1800" loading="lazy")

                    ._content
                        h2._title 
                            | Плита Paroc ROB 80t 20х1200х1800

                        ._text 
                            p
                                | Плита PAROC ROB 80t - это негорючая каменная вата, которая используется в 
                                | качестве верхнего изоляционного слоя для плоских кровель в процессе 
                                | реконструкции старых и строительства новых зданий. Кровельная…

                        time._date(datetime="15.10.2024")
                            | 15.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            
                .post._item
                    picture._banner
                        img._image(src="img/post_2.jpg" width="" height="" alt="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" title="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" loading="lazy")

                    ._content
                        h2._title 
                            | Мембрана Sintofoil ST 1.5 мм серая 2100x25000

                        ._text 
                            p
                                | Кровельная полимерная мембрана на основе высококачественного термопластичного 
                                | полиолефина (ТПО). Поставляется в рулонах 2,10 х 25 м. Стандартный цвет 
                                | лицевой поверхности: светло-серый. Толщина – 1,5…

                        time._date(datetime="15.10.2024")
                            | 17.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            
                .post._item
                    picture._banner
                        img._image(src="img/post_1.jpg" width="" height="" alt="Плита Paroc ROB 80t 20х1200х1800" title="Плита Paroc ROB 80t 20х1200х1800" loading="lazy")

                    ._content
                        h2._title 
                            | Плита Paroc ROB 80t 20х1200х1800

                        ._text 
                            p
                                | Плита PAROC ROB 80t - это негорючая каменная вата, которая используется в 
                                | качестве верхнего изоляционного слоя для плоских кровель в процессе 
                                | реконструкции старых и строительства новых зданий. Кровельная…

                        time._date(datetime="15.10.2024")
                            | 15.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            
                .post._item
                    picture._banner
                        img._image(src="img/post_2.jpg" width="" height="" alt="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" title="Мембрана Sintofoil ST 1.5 мм серая 2100x25000" loading="lazy")

                    ._content
                        h2._title 
                            | Мембрана Sintofoil 

                        ._text 
                            p
                                | Кровельная полимерная мембрана на основе высококачественного термопластичного 
                                | полиолефина (ТПО). Поставляется в рулонах 2,10 х 25 м. Стандартный цвет 
                                | лицевой поверхности: светло-серый. Толщина – 1,5…

                        time._date(datetime="15.10.2024")
                            | 17.10.2024

                        a._link(href="post.html")
                            | Подробнее
                            